.puppy-details-container{
    margin: 20px;
    width: auto;
    height: 80%;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;

    .puppy-info-card{
        width: 80%;
        height: 80%;
        padding: 10px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;

        .content{
            margin: 10px;

            p{
                padding: 5px;
                line-height: 25px;
                font-size: 20px;
            }
        }

        .puppy-info-cta{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}

img{
    width: 80%;
    height: auto;
    object-fit: contain;
    align-self: center;
    border-radius: 10px;;
}